.button {
    background-color: #6A67CE;
    color: #fff;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.55rem;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid #6A67CE;
  }
  
  .button:hover {
    background-color: #ffffff;
    color: #6A67CE;
    border: 1px solid #6A67CE;
    border-radius: 0.55rem;
    transition: background-color 0.2s ease-in-out;
  }
  